.navbar {
  display: flex;
  justify-content: end; /* Выравнивание элементов по правому краю */
  align-items: center; /* Центрирование элементов по вертикали */
  padding: 0 20px; /* Внутренние отступы */
  box-shadow: 0px 1px 3px -2px black; /* Тень */
  top: 0;
  z-index: 1;
  height: 100px; /* Высота панели */
  background-color: #fff; /* Цвет фона */
}
/* Стили для логотипа в навигационной панели */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Промежуток между элементами */
  position: absolute; /* Абсолютное позиционирование */
  left: 20px; /* Отступ слева */
}
/* Стили для изображения логотипа */
.nav-logo img {
  height: 50px; /* Высота изображения */
}
/* Стили для текстового описания логотипа */
.nav-logo p {
  color: #171717; /* Цвет текста */
  font-size: 28px; /* Размер шрифта */
  font-weight: 600; /* Жирность шрифта */
}
/* Стили для меню навигации */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px; /* Промежуток между пунктами меню */
  margin: 0;
  padding: 0;
  justify-content: center; /* Выравнивание по центру */
}
/* Стили для элементов меню */
.nav-menu li {
  position: relative; /* Относительное позиционирование */
  cursor: pointer; /* Изменение курсора при наведении */
}
/* Анимация для подчеркивания активного элемента меню */
.nav-menu li hr {
  position: absolute; /* Абсолютное позиционирование */
  top: 20px;
  left: 0;
  width: 0; /* Начальная ширина анимации */
  height: 3px; /* Высота линии */
  border-radius: 3px; /* Закругление углов */
  background: #FF4141; /* Цвет линии */
}
/* Стили для активного элемента меню */
.nav-menu li.active hr {
  display: block; /* Отображение линии при активации */
}
/* Стили для ссылок в меню */
.nav-menu a {
  text-decoration: none; /* Убрать подчеркивание ссылок */
  color: #626262; /* Цвет текста */
  font-size: 20px; /* Размер шрифта */
  font-weight: 500; /* Жирность шрифта */
  padding: 10px; /* Внутренние отступы */
  transition: color 0.3s ease; /* Плавное изменение цвета текста */
}

/* Анимация при наведении на ссылку в меню */
.nav-menu a:hover {
  color: #333; /* Изменение цвета текста при наведении */
}
/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Столбцовое расположение элементов */
    height: auto; /* Автоматическая высота */
    padding: 10px; /* Уменьшенные внутренние отступы */
  }

  .nav-menu {
    flex-direction: column; /* Столбцовое расположение пунктов меню */
    align-items: flex-start; /* Выравнивание элементов слева */
    gap: 10px; /* Уменьшенный промежуток между элементами */
  }

  .nav-menu li {
    width: 100%; /* Ширина элемента меню на всю ширину */
  }

  .nav-logo p {
    font-size: 24px; /* Уменьшенный размер шрифта логотипа */
  }

  .nav-logo {
    position: static; /* Сброс позиционирования для логотипа */
  }
}
